header {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    box-shadow: 0 5px 10px $primary;

    .logo {
      display: block;
      background-color: $dark-absolute;
      padding: 5px 0 0 0;
      font-size: 70px;
      color: $primary;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      font-family: "Bebas Neue", cursive;
    }
  }
}
