header {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181818;
    width: 100%;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 837px) {
      width: 80px;
      flex-direction: column;
      box-shadow: 0 0 3px $primary;
      height: 100vh;
    }

    .logo {
      width: 50px;
      cursor: pointer;

      @media (min-width: 837px) {
        width: 100%;
      }
    }
  }
}
