@import "./index.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

section {
  height: 100vh;
  overflow: hidden;
}

section:not(#home) .content {
  padding: 10% 5% 2% 10%;
}

section p {
  color: #fff;
  text-align: justify;
  font-size: 18px;
  font-weight: 100;
  max-width: 900px;
}

form {
  .has-error {
    transition: border-bottom 0.4s linear;
    border-bottom: 2px solid $error !important;
  }
}
