.social-menu {
  list-style-type: none;
  padding: 0;
  display: none;

  @media (min-width: 837px) {
    flex-direction: column !important;
  }

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li {
    text-align: center;
    width: 30px;

    @media (min-width: 837px) {
      height: 25px;
    }
  }

  a {
    color: white;
    font-size: 15px;
  }

  a:hover {
    color: $primary;
    vertical-align: middle;
  }
}
