nav {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;

    @media (min-width: 837px) {
      flex-direction: column;
    }
  }

  a {
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;

    @media (min-width: 837px) {
      font-size: 35px;
    }
  }

  a:hover {
    color: $primary;
    vertical-align: middle;
  }

  li {
    padding: 0 10px 0 10px;
    @media (min-width: 837px) {
      padding-top: 50%;
    }

    span {
      font-size: 16px;
    }
  }

  .active {
    color: $primary;
  }
}

//**** Arreglar el hover del menu que cambia de tamaño
