@import url(https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css);

#contact {
  .content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  .contact-form {
    flex: 1;
  }

  .contact-map {
    display: none;
    flex: 1;
    padding: 0 0 20px 50px;

    @media (min-width: 1200px) {
      display: block;
    }

    .map {
      box-shadow: 0 5px 10px $primary;
      position: relative;

      .info {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 9999;
        background-color: $dark-transparent;
        padding: 2%;
      }
    }

    .map-marker {
      font-size: 48px;
      color: $dark-transparent;
    }
  }

  .actions {
    grid-area: actions;
    padding-top: 10px;
    text-align: right;
  }

  form {
    display: grid;
    grid-template:
      "name"
      "email"
      "subject"
      "message"
      "actions";
    gap: 8px;

    @media (min-width: 837px) {
      grid-template:
        "name email"
        "subject subject"
        "message message"
        "actions actions";
    }

    input[name="name"] {
      grid-area: name;
    }

    input[name="email"] {
      grid-area: email;
    }

    input[name="subject"] {
      grid-area: subject;
    }

    textarea[name="message"] {
      grid-area: message;
    }

    input,
    textarea {
      background-color: $dark-transparent;
      color: lightgray;
      border: none;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      padding-left: 15px;
    }

    input {
      height: 50px;
    }

    textarea {
      padding-top: 15px;
      height: 180px;
      resize: none;
    }
  }
}
